@model AirSkyPiea1._0.Models.HomeViewModel

@{
    ViewData["Title"] = "Index";
}

<style type="text/css">
    .card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border: 1px solid lightgray;
        box-shadow: 2px 2px 8px 4px #d3d3d3d1;
        border-radius: 20px;
        font-family:'Century Gothic';
        margin: 5px;
        background-color:aliceblue;
    }
    .video{
        
         display:flex;
        justify-content:center;
        border-radius: 15px;
        
    }
    
</style>
<body> 
</body>

<h1>Air Skypiea3</h1>
 <div class="video">
          <video src="~/images/videopresentacion.mp4" controls autoplay  width="1000" ></video>
    </div>
